  {% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Marcin Starostecki , Janusz Szafrański">
    <title>Dom marzeń</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>


    <div class="s002" style="display: block;">
    <select id="dmd" class="browser-default custom-select custom-select-lg mb-12" style="width: 50%;  margin-left: 25%; justify-content: center;">
        <option selected>Wybierz co chcesz dodać</option>
        <option value="1">Dom</option>
        <option value="2">Mieszkanie</option>
        <option value="3">Działkę</option>
      </select>




      <div id="d1" class="test">
      <form style="width: 50%; margin-left: 25%; margin-top: 50px; color: wheat;">
        <div class="form-group">
          <label for="wojewodztwo">Województwo</label>
          <input type="wojewodztwo" class="form-control" id="wojewodztwo" placeholder="Uzupełnij pole">
        </div>
        <div class="form-group">
          <label for="miejscowosc">Miejscowość</label>
          <input type="miejscowosc" class="form-control" id="miejscowosc" placeholder="Uzupełnij pole">
        </div>
        <div class="form-group">
            <label for="adres">Adres</label>
            <input type="adres" class="form-control" id="adres" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="typ">Typ</label>
            <input type="typ" class="form-control" id="typZabudowy" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="iloscpieter">Ilość pięter</label>
            <input type="iloscpieter" class="form-control" id="iloscPieter" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="iloscbudynkow">Ilość budynków</label>
            <input type="iloscbudynkow" class="form-control" id="iloscBudynkow" placeholder="Uzupełnij pole">
          </div>
          <!-- <div class="form-group">
            <label for="data">Data wystawienia:</label>
            <input type="data" class="form-control" id="inputData" placeholder="Uzupełnij pole">
          </div> -->
          <div class="form-group">
            <label for="powierzchnia">Powierzchnia</label>
            <input type="powierzchnia" class="form-control" id="powierzchnia" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="wartosc">Wartość/Metr</label>
            <input type="wartosc" class="form-control" id="wartPerM" placeholder="Uzupełnij pole">
          </div>
                
        <button type="button" onclick = "Send1()"  class="btn btn-primary">Dodaj</button>
      </form>
    </div>


<div id="d2" class="test">
      <form style="width: 50%; margin-left: 25%; margin-top: 50px; color: wheat;">
        <div class="form-group">
          <label for="wojewodztwo">Województwo</label>
          <input type="wojewodztwo" class="form-control" id="wojewodztwo2" placeholder="Uzupełnij pole">
        </div>
        <div class="form-group">
          <label for="miejscowosc">Miejscowość</label>
          <input type="miejscowosc" class="form-control" id="miejscowosc2" placeholder="Uzupełnij pole">
        </div>
        <div class="form-group">
            <label for="adres">Adres</label>
            <input type="adres" class="form-control" id="adres2" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="typ">Typ</label>
            <input type="typ" class="form-control" id="typZabudowy2" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="iloscpieter">Ilość pięter</label>
            <input type="iloscpieter" class="form-control" id="pietro2" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="pokoje">Pokoje</label>
            <input type="pokoje" class="form-control" id="pokoje2" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="powierzchnia">Powierzchnia</label>
            <input type="powierzchnia" class="form-control" id="powierzchnia2" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="wartosc">Wartość/Metr</label>
            <input type="wartosc" class="form-control" id="wartPerM2" placeholder="Uzupełnij pole">
          </div>
           
        <button type="button" onclick = "Send2()" class="btn btn-primary">Dodaj</button>
      </form>
    </div>


<div id="d3" class="test">
      <form style="width: 50%; margin-left: 25%; margin-top: 50px; color: wheat;">
        <div class="form-group">
          <label for="wojewodztwo">Województwo</label>
          <input  class="form-control" id="wojewodztwo3" placeholder="Uzupełnij pole">
        </div>
        <div class="form-group">
          <label for="miejscowosc">Miejscowość</label>
          <input  class="form-control" id="miejscowosc3" placeholder="Uzupełnij pole">
        </div>
        <div class="form-group">
            <label for="adres">Adres</label>
            <input type="adres" class="form-control" id="adres3" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="typ">Typ</label>
            <input type="typ" class="form-control" id="typ3" placeholder="Uzupełnij pole">
          </div>
          
          <div class="form-group">
            <label for="powierzchnia">Powierzchnia</label>
            <input type="powierzchnia" class="form-control" id="powierzchnia3" placeholder="Uzupełnij pole">
          </div>
          <div class="form-group">
            <label for="wartosc">Wartość/Metr</label>
            <input type="wartosc" class="form-control" id="wartPerM3" placeholder="Uzupełnij pole">
          </div>
         
          
        <button type="button"  onclick = "Send3()" class="btn btn-primary">Dodaj</button>
      </form>

    </div>
        <div class="input-field fifth-wrap" id="searchDetails">
            <button class="btn-search"  type="button">Wróć</button>
        </div>
    </div>
    
    <script  href="{% static 'js/extention/choices.js' %}"></script>
    <script  href="{% static 'js/extention/flatpickr.js' %}"></script>
    <script  href="{% static 'js/extention/choices.js' %}"></script>
    <script  href="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>

    const button = document.getElementById('searchDetails').onclick = function () {
      location.href = "http://127.0.0.1:8080/";
    };

    var dom = document.getElementById('dom');
    var mieszkanie = document.getElementById("mieszkanie");
    var dzialka = document.getElementById("dzialka");

    

    // $('#dmd').on('change', function(){
    // var selected = ""
    // selected = $('#dmd').val();
    //   console.log(selected);


      $(function () {
        $('.test').hide();

          $('#dmd').on("change",function () {
          $('.test').hide();
            $('#d'+$(this).val()).show();
          }).val("2");
      });

      function Send1() {
        
        var k = document.getElementById("wojewodztwo").value;
        var a1 ="&wojewodztwo="+ k
        var a2 ="&miejscowosc="+ document.getElementById("miejscowosc").value;
        var a3 ="&typ=" +document.getElementById("typZabudowy").value;
        var a4 ="&adres=" +document.getElementById("adres").value;
        var a5 ="&iloscpieter=" +document.getElementById("iloscPieter").value;
        var a6 ="&iloscbudynkow="+ document.getElementById("iloscBudynkow").value;
        var a7 ="&powierzchnia="+ document.getElementById("powierzchnia").value;
        var a8 ="&wartosc="+ document.getElementById("wartPerM").value;
        var a9 ="&idw=dom"

        var url = "http://127.0.0.1:8080/add/one/?" + a1+a2+a3+a4+a5+a6+a7+a8+a9;
        window.location.href = url;}

        function Send2() {
        var a1 ="wojewodztwo="+ document.getElementById("wojewodztwo2").value;
        var a2 ="&miejscowosc="+ document.getElementById("miejscowosc2").value;
        var a3 ="&typ=" +document.getElementById("typZabudowy2").value;
        var a4 ="&adres=" +document.getElementById("adres2").value;
        var a5 ="&pietro=" +document.getElementById("pietro2").value;
        var a6 ="&pokoje="+ document.getElementById("pokoje2").value;
        var a7 ="&powierzchnia="+ document.getElementById("powierzchnia2").value;
        var a8 ="&wartosc="+ document.getElementById("wartPerM2").value;
        var a9 ="&idw=mieszkanie"
        var url = "http://127.0.0.1:8080/add/one/?" + a1+a2+a3+a4+a5+a6+a7+a8+a9;
        window.location.href = url;}
        function Send3() {
        var a1 ="&wojewodztwo="+ document.getElementById("wojewodztwo3").value;
        var a2 ="&miejscowosc="+ document.getElementById("miejscowosc3").value;
        var a3 ="&typ=" +document.getElementById("typ3").value;
        var a4 ="&adres=" +document.getElementById("adres3").value;
        
        var a7 ="&powierzchnia="+ document.getElementById("powierzchnia3").value;
        var a8 ="&wartosc="+ document.getElementById("wartPerM3").value;
        var a9 ="&idw=dzialka"
        var url = "http://127.0.0.1:8080/add/one/?" + a1+a2+a3+a4+a7+a8+a9;
        window.location.href = url;}
        
        
       
        


    </script>

  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
