{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Marcin Starostecki , Janusz Szafrański">
    <title>Dom marzeń</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="s002" >
      <form style="margin-bottom: 500px;">
          <legend >Oto Twoje wyszukane elementy:</legend>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Wojwództwo</th>
                <th scope="col">Miejscowość</th>
                <th scope="col">Adres</th>
                <th scope="col">Typ</th>
                <th scope="col">Powierzchnia</th>
                <th scope="col">Cena</th>
              </tr>
            </thead>


            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>{{ objs.wojewodztwo }}</td>
                <td>{{ objs.miejscowosc }}</td>
                <td>{{ objs.adres }}</td>
                <td>{{ objs.typ }} {{ objs.typZabudowy }}</td>
                <td>{{ objs.powierzchnia }}</td>
                <td>{{ objs.wartPerM }}</td>
              </tr>
            </tbody> 

            
            </table>
            <legend >Info o właścicielu:</legend>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imię</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Telefon</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>{{ objs.wlasciciel.imie }}</td>
                    <td>{{ objs.wlasciciel.nazwisko }}</td>
                    <td>{{ objs.wlasciciel.telefon }}</td>
                  </tr>
                </tbody> 
                </table>
              <div class="inner-form" style="justify-content: center; background: none;">
                <div class="input-field fifth-wrap" id="searchDetails">
                       <button class="btn-search"  type="button">Wróć</button>
                  </div>
            </form>
          </div>  
    </form>
  </div>

    <script  href="{% static 'js/extention/choices.js' %}"></script>
    <script  href="{% static 'js/extention/flatpickr.js' %}"></script>
    <script  href="{% static 'js/extention/choices.js' %}"></script>
    <script  href="{% static 'js/main.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      const button = document.getElementById('searchDetails').onclick = function () {
        location.href = "http://127.0.0.1:8080/";
      };

      const contact = document.getElementById('contact').onclick = function () {
        location.href = "http://127.0.0.1:8080/";
      };
      </script>
      

  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
