
{% load static %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Marcin Starostecki , Janusz Szafrański">
    <title>Dom marzeń</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div class="s002">
      

  <form>
    <div class="inner-form" style="height: 100px; background: none; ">
      <div id="login" class="input-field fifth-wrap" style="background: none; float:right;" >
        <a href="accounts\login\"> <button class="btn-search" style="background-color:#23b0a2;" type="button">Zaloguj</button></a>
      </div>
      <div id="logout" class="input-field fifth-wrap" style="background: none; ">
        <a href="admin\logout\"> <button class="btn-search" style="background-color:#23b0a2;" type="button">Wyloguj</button></a>
      </div>


    </div>
        <fieldset>
          <legend>Wyszukaj swoją wymarzoną nieruchomość</legend>
        </fieldset>
        
        <div class="inner-form">
          <!--  -->
          <div class="input-field first-wrap">
            <div class="icon-wrap">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
              </svg>
            </div>
            
            <input id="typ1" type="text" placeholder="Czego szukasz?" />
          </div>

        
          <div class="input-field fifth-wrap" id="searchDetails">
           <!-- <button class="btn-search"  onclick = "Send"  type="button">Szukaj</button> -->
           <input type="button" class="btn-search" value="Szukaj" onclick = "Send()" >
          </div>
        
          <div id="addOffer" class="input-field fifth-wrap">
            <a href="add\"> <button class="btn-search" style="background-color:#23b0a2;" type="button">Dodaj ofertę</button></a>
          </div>
          <div id="checkYourItems" class="input-field fifth-wrap">
             <button class="btn-search" onclick = "Send3()" style="background-color:coral;" type="button">Sprawdź własne</button>
          </div>
        </div>
        <fieldset style="margin-top: 50px;">
          <legend>SZCZEGÓŁY</legend>
        </fieldset>



<!-- Start -->
<div class="inner-form">
  <div class="input-field wojewodztwo" style="width: 33%;">
     <input id="wojewodztwo" type="text" placeholder="Województwo"/>
  </div>
  <div class="input-field miejscowosc" style="width: 33%;">
    <input  id="miejscowosc" type="text" placeholder="Miejscowość" />
  </div>
  <div class="input-field typ" style="width: 33%;">
    <input id="typ2" class="datepicker"  type="text" placeholder="TYP" />
  </div>
</div>
<!-- STOP -->


<!-- Start -->
<div class="inner-form">
  <div class="input-field powierzchnia" style="width: 49%;">
     <input id="powierzchnia" type="text" placeholder="Powierzchnia"/>
  </div>
  <div class="input-field cena" style="width: 49%;">
    <input id="wartPerM" type="text" placeholder="Cena za metr"/>
 </div>
</div>

  <!-- STOP -->
    <div class="inner-form" style="justify-content: center;">
      <div class="input-field fifth-wrap" id="searchDetails">
             <button class="btn-search" onclick = "Send2()" type="button">Szukaj</button>
        </div>
    </div>
  </form>
</div>


      {% block body_block %}
      {% if registered %}
      <script>
      var login = document.getElementById("login");
    var logut = document.getElementById("logout");
    login.style.visibility = "hidden";
      logut.style.visibility = "visibility";
      addOffer.style.visibility = "visibility";
      </script>
      {% else %}
      
      <script>
      var login = document.getElementById("login");
    var logut = document.getElementById("logout");
    logut.style.visibility = "hidden";
      login.style.visibility = "visibility";
      addOffer.style.visibility = "hidden";
    </script>
     
      {% endif %}
      {% endblock  %}




    <!-- <div class="col-lg-12">
      <input class="input-field" id="search" type="text" placeholder="Czego szukasz?" />
    </div> -->
    
  <script  href="{% static 'js/extention/choices.js' %}"></script>
  <script  href="{% static 'js/extention/flatpickr.js' %}"></script>
  <script  href="{% static 'js/extention/choices.js' %}"></script>
  <script  href="{% static 'js/main.js' %}"></script>
  <script>
    
    const loginButton = document.getElementById('login').onclick = function () {
      location.href = "http://127.0.0.1:8080/registration/login.html";
    };

    const addOfferButton = document.getElementById('addOffer').onclick = function () {
      location.href = "http://127.0.0.1:8080/addOffer.html";
    };

    var isLogged = false;
    var login = document.getElementById("login");
    var logut = document.getElementById("logout");
    var addOffer = document.getElementById("addOffer");


    function Send() {
        var name = document.getElementById("typ1").value;
        
        var url = "http://127.0.0.1:8080/get/?typ=" + encodeURIComponent(name);
        window.location.href = url;}
        function Send3() {
        
        var url = "http://127.0.0.1:8080/checkItems";
        window.location.href = url;}

    function Send2() {
        var typ =""
        var wojewodztwo = "";
        var miejscowosc = "" ;
        var powierzchnia = "";
        var wartPerM = "";
        var k = 0
        if (!document.getElementById("typ2").value.length)
        console.log(document.getElementById("typ2").value.length)
        {if(k === 0){typ = "typ=" + document.getElementById("typ2").value;;k=1}else{typ = "&typ=" + document.getElementById("typ2").value;}}
        
        if (!document.getElementById("wojewodztwo").length)
        {if(k === 0){wojewodztwo = "wojewodztwo=" + document.getElementById("wojewodztwo").value;k=1}else{wojewodztwo = "&wojewodztwo=" + document.getElementById("wojewodztwo").value;}}
            
        if (!document.getElementById("miejscowosc").length)
        {
          if(k === 0)
          {miejscowosc = "miejscowosc=" + document.getElementById("miejscowosc").value;k=1}
          else
          {miejscowosc = "&miejscowosc=" + document.getElementById("miejscowosc").value;}}
            
            
        if (!document.getElementById("powierzchnia").length)
        {if(k === 0)
          {powierzchnia = "powierzchnia=" + document.getElementById("powierzchnia").value;k=1}
          else
          {powierzchnia = "&powierzchnia=" + document.getElementById("powierzchnia").value;}}
            
            
        if (!document.getElementById("wartPerM").length)
        {if(k === 0)
          {wartPerM = "wartPerM=" + document.getElementById("wartPerM").value;k=1}
          else
          {wartPerM = "&wartPerM=" + document.getElementById("wartPerM").value;}}
             
             

        var endpoint = typ+wojewodztwo+miejscowosc+powierzchnia+wartPerM
        
        var url = "http://127.0.0.1:8080/search/?" + endpoint;
        window.location.href = url;}


    </script>

  </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

