
<!-- <div>
    <h1><a href="/">Elementy właścicieli</a></h1>
</div>
{% for obj in objs %}
<div>
    <h2>{{ obj.identyfikator }}</h2>
    <p> {{ obj.imie }}</p>
    <p>{{ obj.nazwisko }}</p>
    <p>{{ obj.pesel }}</p>
</div>
    
{% endfor %} -->
    {% block body_block %}
      {% if query == "dom" %}

      <h1><a href="/">DOM</a></h1>
        {% for obj in objs %}
            <div>
            <h2>1 {{ obj.identyfikator }}</h2>
            <p> 2 {{ obj.wojewodztwo }}</p>
            <p>3 {{ obj.miejscowosc }}</p>
            <p>4 {{ obj.adres }}</p>
            <p>5 {{ obj.typZabudowy }}</p>
            <hr>
            </div>    
        {% endfor %}



      {% elif query == "mieszkanie"%}

      <h1><a href="/">MIESZKANIE</a></h1>
      {% for obj in objs %}
          <div>
          <h2>{{ obj.identyfikator }}</h2>
          <p> {{ obj.wojewodztwo }}</p>
          <p>{{ obj.miejscowosc }}</p>
          <p>{{ obj.adres }}</p>
          <p>{{ obj.typZabudowy }}</p>
          <hr>
          </div>    
      {% endfor %}


     
      {% elif query == "działka"%}

      <h1><a href="/">DZIAŁKA</a></h1>
      {% for obj in objs %}
          <div>
          <h2>1 {{ obj.identyfikator }}</h2>
          <p> 2 {{ obj.wojewodztwo }}</p>
          <p>3 {{ obj.miejscowosc }}</p>
          <p>4 {{ obj.adres }}</p>
          <p>5 {{ obj.typ }}</p>
          <hr>
          </div>    
      {% endfor %}




      {% else%}
      <h1>Zły parametr </h1>
      <h1>{{ user }}</h1>


      {% if user.is_authenticated %}
  <p>Welcome, {{ user.first_name }}. Thanks for logging in.</p>
{% else %}
  <p>Welcome, new user. Please log in.</p>
{% endif %}
      {% endif %}



      
      {% endblock  %}


      