body{
    background-color: #cfb87c;
    background-image: url("/img/logo.jpg");
    background-position-x: 50%;
    background-position-y: 75%;
    background-size: 150%;
    
}
#con{
    
    height: 100px;
    
}
.container{
    width: 1000px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
    
}
#logo{
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    text-align: center;
    padding: 15px;
}
#nav{
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    width: 120px;
    padding: 10px;
    height: 300px;
}
#content{
    text-align: center;
    float: left;
    padding: 10px;
    width: 700px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;

}
#ad{
    float: left;
    width: 160px;
    height: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
}
#footer{
    clear: both;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    text-align: center;
    padding: 20px;
}
.text{
    width: 250px;
    height: 30px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 3px solid beige;

    background-image: url('/img/login.jpg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-y: 3px;
    padding-left: 40px;
}
.text1{
    width: 250px;
    height: 30px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 3px solid beige;

    background-image: url('/img/password.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background-size: 8%;
    background-position-y: 3px;
    padding-left: 40px;
}
#button{
    width: 250px;
    height: 30px;
    color: black;
    font: bold 1.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 3px solid beige;
    cursor: pointer;
}
h1{
    display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
#button:hover{
    -webkit-transition-duration: 1s; /* Safari */
    background-color: aliceblue ;
    color: blue;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
