* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: #000;
    background-position: center;
    background-size: 150%;
}

#time {
    font-size: 8rem;
}
h1 {
    margin-bottom: 3rem;
}
h2 {
    margin-bottom: 0.5rem;
    opacity: 0.7;
}
@media(max-width: 700px) {
    #time{
        font-size: 6rem;
    }
}
#bloczek{
    width: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 3px solid #030303;
    cursor: pointer;
    
}
.bloczek1{
    width: 150px;
    height: 50px;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border: 3px solid #030303;
    cursor: pointer;
    padding: 15px 25px;
    
  transition-duration: 0.4s;
}
.bloczek1:hover{
    -webkit-transition-duration: 1s; /* Safari */
    background-color: aliceblue ;
    color: blue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

