body { 
    margin: 0;
    background-image: url("/img/2032.jpg");
    color: #705d5d;
    font-family: 'Montserrat', sans-serif; 
}

#con{
    
    height: 100px;
    
}
.container{
    width: 1000px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    
    
    
}
#logo{
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    text-align: center;
    padding: 15px;
}
#nav{
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    width: 120px;
    padding: 10px;
    height: 700px;
}
#content{
    text-align: center;
    float: left;
    padding: 10px;
    width: 700px;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    
}

.el{
    text-align: center;
    float: left;
    padding: 0px;
    width: 700px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.25);
    color: beige;
    border-style: solid;
    border-width: thick;
    border-color:rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
    
}


#ad{
    float: left;
    width: 160px;
    height: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
}
#footer{
    clear: both;
    background-color: rgba(0, 0, 0, 0.5);
    color: beige;
    text-align: center;
    padding: 20px;
}


h1{
    display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


ul, ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul {
	width: 85px;
	padding: 20px 20px 10px 20px; /*ustawienia */
	background-color: rgba(255, 255, 255, 0.5);
    border: 3px double rgb(3, 3, 3);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

ul li {
	border-bottom: 1px solid rgb(195, 196, 197);
}

ul a:link, ul a:visited {
	display: block;
	width: 80px;
	text-decoration: none;
	padding: 7px;
	font-weight: bold;
	background-color: rgba(114, 146, 179, 0.5);
	color: rgb(12, 15, 19);
	border-left: 10px solid rgb(23, 28, 37);
}

ul a:hover { /*wejsćie w klawisz*/
	width: 85px;
	background-color: #28f;
	color: rgb(19, 16, 16);
    border-left: 5px solid #26d;
    transition-duration: 1s;
}