@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/fontawesome.min.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/solid.min.css';

@import 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css';

@import 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.9/css/AdminLTE.min.css';

@import 'https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/3.0.0-beta.2/jquery.contextMenu.min.css';

@import 'https://cdnjs.cloudflare.com/ajax/libs/pretty-checkbox/3.0.3/pretty-checkbox.min.css';