/*!
 * Generated with CSS Flag Sprite generator (https://www.flag-sprites.com/)
 */.flag{display:inline-block;width:32px;height:32px;background:url('../img/flags.png') no-repeat}.flag.flag-cz{background-position:-32px 0}.flag.flag-de{background-position:-64px 0}.flag.flag-gb{background-position:0 -32px}.flag.flag-pl{background-position:-32px -32px}