body {
	background-color: #ecf0f5 !important;
}

table.table-center thead tr th,
table.table-center tbody tr td {
	text-align: center;
}

div.flag {
	margin-right: 5px;
	cursor: pointer;
}

div.login-box {
	margin: 0 auto !important;
	width: 85% !important;
}

div.main-header {
	position: fixed !important;
	width: 100% !important;
}

div.wrapper>header>nav {
	background-color: #222d32 !important;
	margin: 0 !important;
}

#navbar-collapse {
	overflow: visible !important;
}

#navbar-collapse>ul>li>a {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

li.active>a[data-type='mainMenu'] {
	border-top: 3px solid #ECF0F5;
	font-weight: bold;
	height: 50px;
}

li.active>a[data-type='chatTab'] {
	border-top: 3px solid #222d32;
	font-weight: bold;
	height: 30px;
}

li.active>a[data-type='editorTab'] {
	border-top: 3px solid #131313;
	font-weight: bold;
	height: 50px;
}

.navbar-nav>li>a[data-type='chatTab'],
.navbar-nav>li.active>a[data-type='chatTab'] {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

@media (min-width: 1200px) {
	.container {
		width: 100% !important;
	}
}

@media (min-width: 768px) {
	.navbar-nav>li {
		margin-right: 3px !important;
	}
}

div>div.navbar-custom-menu>ul>li>a {
	color: white !important;
}

.navbar-nocolors>li>a:hover,
.navbar-nocolors>li>a:active,
.navbar-nocolors .open>a,
.navbar-nocolors .open>a:focus,
.navbar-nocolors .open>a:hover {
	background-color: #222d32 !important
}

.content-wrapper,
.main-footer {
	margin: 0 !important;
}

.mr {
	margin-right: 10px !important;
}

.ml {
	margin-left: 10px !important;
}

.askButtons {
	text-align: center;
	margin: 10px;
}

div.direct-chat-messages {
	padding: 10px;
	height: 500px !important;
}

.cPointer {
	cursor: pointer;
}

.container {
	margin-left: 0px;
}

@media (max-width: 768px) {
	#moveCustomMenuToShowBars {
		right: 30px;
	}
}

@media (min-width: 768px) {
	#moveCustomMenuToShowBars {
		right: 1px;
	}
}

td.middle {
	vertical-align: middle !important;
}

td.top {
	vertical-align: top !important;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.borderless td,
.borderless th {
	border: none !important;
}

@-webkit-keyframes blinker {
	from {
		opacity: 1.0;
	}

	to {
		opacity: 0.0;
	}
}

.blink {
	text-decoration: blink;
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-direction: alternate;
}