html
    head
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700")
        link(rel="stylesheet" href="/css/404.css")
    body
        .wrapper
            h1
                | Be a hero. Adopt the 404 Error.