html
    head
        title 
            |Main
        meta(name="description" content="Logging panel")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/css/login.css")
    body
        div(id="con")
        .container
            div(id="logo")
               
                h1
                    |mgr 3.0
            div(id="nav")
            
            //    ul Przegląd
                    li 
                        a(href="http://127.0.0.1:8080/about") about
                    li 
                        a(href="http://127.0.0.1:8080/main") main
                    li 
                        a(href="http://127.0.0.1:8080/") home
            div(id="content")
                form(action="/login" method="POST")
                    h2
                        |Zaloguj się
                    p 
                        input(class= "text" name ="login"  type="text" placeholder="name" required)
                    p 
                        input(class= "text1" name ="password"  type="password" placeholder="password" required)
        
                    button(id="button" type="submit") 
                        |Zaloguj
            
            div(id="nav")
            //    p Created by: no one
            div(id="footer")
                p Created by: J. Szafrański
       
        script(type="text/javascript" src="javascript/login.js")
            