html
    head
        title 
            |Main
        link(rel="stylesheet" href="/css/main.css")
        meta(name="description" content="Main view")
        meta(name="viewport" content="width=devive-width,initial-scale=1.0")
        link(href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet")
    body(id ="parent")
        time(id = "time")
        h1
            span(id="greeting")
            span(id="name" contenteditable="true")
        
        h2
            |What is Your Focus For Today?
        
        h2(id="focus" contenteditable="true")

        div(id = "buttonAdd")

        script(type="text/javascript" src="javascript/main.js")

