html
    head
        title 
            |Main
        meta(name="description" content="Logging panel")
        link(rel="stylesheet" href="/css/remote.css")
    body
        div(id="con")
        .container
            div(id="logo")
               
                h1
                    |mgr 3.0
            div(id="nav")
            
                ul 
                    li 
                        a(href="http://127.0.0.1:8080/about") about
                    li 
                        a(href="http://127.0.0.1:8080/main") main
                    li 
                        a(href="http://127.0.0.1:8080/") home
                    li 
                        a(href="http://127.0.0.1:8080/about") logout
                    li 
                        a(href="http://127.0.0.1:8080/about") info
            div(id="content")
                       
                
            div(id="nav")
            //    p Created by: no one
            div(id="footer")
                p Created by: J. Szafrański
            script(type="text/javascript" src="javascript/remote.js")
            